<p>
  This text can be formatted in the following ways:
</p>
<table>
  <tr>
    <th>Code</th>
    <th>Output</th>
  </tr>
  <tr>
    <td><code>[b]This is bold![/b]</code></td>
    <td><strong>This is bold!</strong></td>
  </tr>
  <tr>
    <td><code>[i]This is in italics![/i]</code></td>
    <td><em>This is in italics!</em></td>
  </tr>
  <tr>
    <td><code>[link=www.google.com]This is a link to Google[/link]</code></td>
    <td><a href="http://www.google.com/">This is a link to Google</a></td>
  </tr>
</table>